.App {
  text-align: center;
}

html,
.App {
  background-color: #282c34;
}

.canvas {
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
}

.help-text {
  color: beige;
}
.font {
  font-size: smaller;
}
